# Ignore compiled bytecode
__pycache__/
*.pyc
*.pyo

# Ignore logs
logs/
*.log

# Ignore virtual environment
venv/

# Ignore Scrapy cache directory
.scrapy/

# Ignore Scrapy output files
*.json
*.csv
*.xml
*.db

# Ignore temporary files and directories
tmp/
temp/
*.tmp

